---
layout: base.liquid
title : Samy Ouaret | Oops something went wrong here
style : /build/css/tailwind.css
---

<div id="app" class="my-20 p-5 text-gray-800 mt-20 mx-auto w-full flex items-center flex-col">
  <h1 class="text-4xl">Oops 404 ! something went wrong</h1>
  <h2 class="text-3xl text-gray-700 my-8 ml-4">The requested page could not be found.</h2>
  <div class="nav">
    <div class="text-center">
      You can go to:
      <a class='nav-item' href="/">Home</a>
      <a class='nav-item' href="/about">About</a>
      <a class='nav-item' href="/contact">Contact</a>
      <a class='nav-item' href="/blog">Blog</a>
    </div>
  </div>
</div>