---
layout: page_layout.njk
style : /build/css/tailwind.css
---
<div class="md:w-4/6 mx-auto my-12">
    <p class="text-sm md:text-lg text-gray-800">You may reach me on <a class="text-blue-700 underline" href="#footer">social media links</a> at the bottom of the page or by filling out the form below.</p>
    {%- include "components/contact.njk" -%}
</div>