---js
{
layout: 'layout.njk',
eleventyExcludeFromCollections: true,
title: 'Samy Ouaret',
templateClass: 'flex flex-col',
  pagination: {
   data: 'collections.posts',
   size: 3,
   alias: 'posts',
   before: function(data) {
      return data.reverse().slice(0, 3).map(post => post);
   }
  }
}
---

{%- include "components/home.njk" -%}
<div class="flex mt-8 md:mt-4">
  <div class="md:border md:border-gray-200 md:shadow-md md:px-16 md:py-8 mx-auto">
    <h3 class="text-3xl text-gray-800">Blog</h3>
    {% include "postslist.njk" %}
    <a class=" mt-3 text-lg hover:text-gray-700 text-blue-700" href="/blog">View all articles</a>
  </div>
</div>