---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
    - no
  addAllPagesToCollections: true
layout: blog_layout.njk
renderData:
  title:  Samy Ouaret Blog | {{ tag }}
permalink: /tags/{{ tag }}/
style : /build/css/tailwind.css
templateClass : flex flex-col
---

{# {{ collections[ tag ] | logger}} #}
<div class="flex flex-col mt-6 pl-3">
<h1  class="m-3 text-2xl text-gray-900"><span class="font-bold text-gray-800">Topic #{{ tag }}</span></h1>
{% set posts = collections[ tag ] %}
{% include "postslist.njk" %}

<p class="mt-3 text-lg">See more <a class="hover:text-gray-700 text-blue-700"
 href="{{ '/tags/' | url }}">All topics</a>.
 </p>
</div>
