---
permalink: /tags/
layout: blog_layout.njk
style : /build/css/tailwind.css
templateClass : flex flex-col
home : /tags
---
<h1>Tags</h1>

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
{% endfor %}
