<nav class="nav">
    <div class="flex">
    <img src="{{metadata.author.image_sm}}" class="w-20 h-20 rounded-full"/>
    <div class="flex flex-col ml-3">
        <h3 class="font-semibold text-xl text-gray-800">
         <a href="/">{{metadata.author.name}}</a></h3>
        <p class="text-sm md:text-lg text-gray-700">
           {{metadata.author.description}}
        </p>
    </div>
    </div>
    <div class="flex">
    <a class='nav-item' href="/tags">Topics</a>
    <a class='nav-item' href="/blog">Blog</a>
    <a class='nav-item' href="/">About</a>
    <div>
</nav>