---
layout: base.liquid
---
<div id="app" class="p-5 mt-20 {{templateClass | safe}}">
<nav class="flex">
    <img src="/images/ouaretsamy-cropped.png" class="w-20 h-20 rounded-full"/>
    <div class="flex flex-col ml-3">
        <h3 class="font-semibold text-xl text-gray-800">
         <a href="/">Samy Ouaret</a></h3>
        <p class="text-lg text-gray-700">
            Web developer, PHP enthusiast, React developer
        </p>
    </div>
</nav>
{% if title %}
<h1 class="font-bold text-3xl text-gray-800 mt-6 pl-3">{{title}}</h1>
{% endif %}
{{ content | safe }}
</div>