---
layout: base.liquid
style : /static/css/tailwind.css
templateClass: lg:w-3/4 xl:w-3/4
---
<div class="p-5 md:mt-8 min-h-screen">
    {%- include "components/nav.njk" -%}
    {{ content | safe }}
</div>