---
layout: base.liquid
style : /static/css/tailwind.css
templateClass: lg:w-11/12 xl:w-10/12
---
<div class="p-5 md:mt-8 min-h-screen mx-auto">
    {%- include "components/nav.njk" -%}
    {{ content | safe }}
</div>