<div class="flex flex-col my-6">
{%- for post in posts -%}
   <div class="flex flex-col border-b border-dashed border-b-gray-300">
   <a href="{{post.url}}" class="text-2xl block font-bold text-gray-800 hover:text-blue-700">
   <time class="text-sm font-normal text-gray-700">{{post.date | readableDate}}</time><br>
   {{post.data.title}}
   </a>
   <a href="{{post.url}}" class="text-lg my text-gray-800 underline hover:text-gray-900">
   read &rarr;</a><br>
   </div>
{%- endfor -%}
</div>