<div class="flex flex-col">
{%- for post in posts | reverse %}
   <div class="flex flex-col my-1 border-b border-dashed border-b-gray-300 p-2">
   <a href="{{post.url}}" class="text-2xl font-bold text-gray-800 hover:text-blue-700">
   <time class="text-sm font-semibold text-gray-700">{{post.date | readableDate}}</time><br>
   {{post.data.title}}
   </a><br>
   <a href="{{post.url}}" class="text-lg my-2 text-gray-800 underline hover:text-gray-900">
   read</a><br>
   </div>
{% endfor %}
</div>