---
layout: blog_layout.njk
permalink : "blog/{{ date | slugifyDate }}/{{ title | slugify }}/index.html"
style : /build/css/tailwind.css
templateClass:
---
<div class="flex flex-col my-6 p-3">
{{ content | safe }}
</div>