<div class="md:flex flex-col hidden text-sm text-gray-700 xl:text-lg mt-8 leading-relaxed">
    <a class="p-3 text-gray-800 hover:text-blue-700 ease-out duration-75"
        href="{{ metadata.links.twitter }}">
        <i class="fa fa-twitter mr-2 text-blue-500"></i>@samyouaret13</a>
    <a class="p-3 text-gray-800 hover:text-blue-700 ease-out duration-75" href="mailto:{{ metadata.author.email }}">
        <i class="fa fa-envelope mr-2 text-gray-600"></i>{{ metadata.author.email }}</a>
    <a class="p-3 text-gray-800 hover:text-blue-700 ease-out duration-75"
        href="{{ metadata.links.linkedin }}">
        <i class="fa fa-linkedin mr-2 text-blue-700"></i>samyouaret</a>
</div>