<div class="content text-gray-800 mt-8 leading-relaxed">
    <h3 class="font-semibold text-3xl my-4 text-gray-900">
        Hi, I’m Samy</h3>
    <p style="line-height:1.7" class="mt-2 text-md md:text-xl">
        I’m a backend engineer, I have been doing web development since 2015, I’m based currently in Algeria Where I was
        born and I've got My Bachelor's degree in Computer systems,
        I study an MSc in Computer Networking and Multimedia.
        I like to write quality software and web applications. I care more about details, clean code, testing, and APIs,
        I write code using PHP, Javascript, NodeJs, and React to build web solutions and websites.
        I like reading about history and sociology, playing and watching football.
    </p>
</div>
<div class="content text-gray-800 mt-8 leading-relaxed text-sm md:text-lg">
    <h3 class="font-semibold text-3xl my-4 text-gray-900">Technical skills</h3>
    <ul class=" list-disc list-inside">
        <li class="p-4 leading-relaxed mt-4">
            Good knowledge of software engineering and web technologies, Rest APIs,
            HTTP,Network Protocols.
        </li>
        <li class="p-4 -mt-2">
            Good knowledge of modern PHP And Javascript,NodeJS,i use some Frameworks
            like Laraval, React, ExpressJS.</li>
        <li class="p-4 -mt-2">
            Good knowledge of modern Front-end technologies(HTML5, CSS3, javascript, ES6, ReactJS).
        </li>
        <li class="p-4 -mt-2">
            Quality is important, I Make sure to write testable code mainly using PHPUnit, jest, or other tools when
            needed.
        </li>
        <li class="p-4 -mt-2">
            I use Git/Github as version control and for collaborating.
        </li>
        <li class="p-4 -mt-2">
            I have strong knowledge about database design and normalization, mainly I use Mysql, Redis, SQLite for
            testing.
        </li>
        <li class="p-4 -mt-2">
            Basic knowledge about CI/CD, and basic deployment with AWS and Netlify.
        </li>
        <li class="p-4 -mt-2">
            I have good knowledge of Operating Systems and servers.
        </li>
    </ul>
</div>
<div class="flex flex-col pl-3 text-lg">
    <h3 class="font-semibold text-3xl my-4 text-gray-900">Education</h3>

    <b class="mb-3">2019-2021</b>
    <p class="text-gray-900 text-2xl">Master's degree, computer Networks and
        Multimedia</p>
    <p class="text-gray-800 text-lg">Mohammed Elbachir El Ibrahimi university</p>


    <b class="my-3">2016-2019</b>
    <p class="text-gray-900 text-2xl">Bachelor's degree, Computer Science</p>
    <p class="text-gray-800 text-lg">Mohammed Elbachir El Ibrahimi university</p>

</div>
<div class="content text-gray-800 mt-8 leading-relaxed text-sm md:text-lg">
    <h3 class="font-semibold text-3xl my-4 text-gray-900">Stack used</h3>
    <ul class=" list-disc list-inside">
        <li class="p-4 leading-relaxed mt-4">
            <b>Languages and Frameworks:</b> PHP, Javascript, NodeJs, Html5, CSS3, ReactJS,ExpressJS
            4, TailwindCSS.
        </li>
        <li class="p-4 leading-relaxed -mt-2">
            <b>Databases:</b> MYSQL, Redis, SQLite.
        </li>
        <li class="p-4 leading-relaxed -mt-2">
            <b>Development tools:</b> Vscode, Git, Webpack , Npm, Composer, Jira.
        </li>
    </ul>
</div>