@import "normalize.scss";
@import "basic.scss";

.left-section,
.right-section {
    padding: 15px;
}

.left-section {
    width: 100%;
}

.right-section {
    justify-content: center;
}

.child {
    width: 100%;
    padding: 15px;
    flex-basis: 100%;
}

.left-section .child {
    align-items: center;
}

.img {
    display: flex;
    width: 120px;
    height: 120px;
}

@media (min-width:768px) {
    .left-section {
        width: 45%;
    }

    .right-section {
        width: 55%;
    }

    .img {
        width: 295px;
        height: 300px;
    }
}

.rounded-img {
    border-radius: 50%;
    overflow: hidden;
}

.lead {
    color: #51676d;
    margin: 0 0 0.8em;
    font-size: 1.3em;
    text-indent: 0.2em;
}

.footer {
    padding: 2%;
    background-color: #e2e2e2;
    align-items: center;
    margin-top: 3%;
}

.footer a {
    text-decoration: none;
    padding: 10px;
    font-size: 1.5rem;
    color: #566368;
    transition: ease 0.2s;
}

.footer a:hover {
    color: #2d9dc9;
}